# Nix
result

# View layer
view/elm-stuff/
view/dist/
view/review/elm-stuff/

# Bridge layer
bridge/node_modules/
bridge/public/elm.js
bridge/dist/

# Platform layer
platform/target/
platform/gen/

# Proxy layer
proxy/node_modules/
proxy/.dev.vars

# Design system
infra/design-system/node_modules/
infra/design-system/dist

# Elm watch
infra/elm-watch/node_modules/

# Landing site
landing/node_modules/
landing/dist/

# Environment
.direnv/
.env

# Process logs
logs/

# IDE
.idea/
*.swp
.vscode/

# OS
.DS_Store

# Emacs
TAGS
